body {
  font-family: Roboto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid rgb(117, 168, 137);
  margin: 2.9em 10px;
  padding: 0.5em 10px;
}
blockquote:before {
  color: rgb(62, 145, 97);
  /* content: open-quote; */
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

path {
  pointer-events: none;
  /* z-index: -1; */
}

hr {
  opacity: 0.2;
  /* margin-top: 110px; */
  

}

code {
  margin-bottom:50px;
}

#fullscreen-exit {
  display: none;
}

.toolbar-edit p {
  margin: 18px 0px 0px 21px;
  float: left;
  text-transform: uppercase;
  font-size: 0.7rem;
  opacity: 0.5;
}

.toolbar p {
  /* display: inline; */
  text-align: right;
  width: 100%;
  font-size: 0.9rem;
  opacity: 0.5;
  margin-right: 24px;
}

.preview-right-btns {
  text-align: right;
  width: 100%;
  margin-right: 0px;
}

.window {
  background-color: #80c8bd;
  padding: 50px;
  min-height: 100vh;
}

#editor {
  min-height: 40vh;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; 
  border: none;
  border-radius:0px 0px 10px 10px;
  -moz-border-radius:0px 0px 10px 10px;
  -webkit-border-radius:0px 0px 10px 10px;
  padding: 10px 30px 0px 30px;
  color: #727272;
  resize: none;
  -webkit-box-shadow: -29px 28px 18px -25px rgba(0,0,0,0.27);
  -moz-box-shadow: -29px 28px 18px -25px rgba(0,0,0,0.27);
  box-shadow: -29px 28px 18px -25px rgba(0,0,0,0.27);

  margin: 0px;
  overflow: auto;


}

table, th, td {
  border: 1px solid rgb(202, 202, 202);
  border-collapse: collapse;
  margin-top: 10px;
  padding: 5px;
}
.app {
  display: flex;
  flex-direction: column;
  height: 500px;
  
}

.preview-holder {
  position: relative;
  /* height: 100vh; */
}

.preview-container {
  /* width: 40vw; */
  min-height: 40vh;
  max-height: calc(40vh);
  border: none;
  border-radius:0px 0px 10px 10px;
  -moz-border-radius:0px 0px 10px 10px;
  -webkit-border-radius:0px 0px 10px 10px;
  /* padding: 0px 30px 30px 30px; */
  color: #6e726e;
  
  -webkit-box-shadow: -29px 28px 18px -25px rgba(0,0,0,0.27);
  -moz-box-shadow: -29px 28px 18px -25px rgba(0,0,0,0.27);
  box-shadow: -29px 28px 18px -25px rgba(0,0,0,0.27);
  background-color: white;
  overflow: auto;

}

#preview {
  margin: 10px 30px 30px 30px;
  min-height: 100px;
}

.toolbar {
  /* position: absolute; */
  display:flex;
  justify-content: space-between;
  background-color: rgb(197, 253, 214);
  border-radius:10px 10px 0px 0px;
  -moz-border-radius:10px 0px 0px 0px;
  -webkit-border-radius:10px 10px 0px 0px;
  /* width: calc(100vw - 100px); */
  margin-top: 20px;
  /* overflow: hidden; */
  /* top: 0; */
  /* left: 0; */
}

.toolbar-edit {
  display:flex;
  justify-content: space-between;
  height: 48px;
  background-color: rgb(219, 219, 219);
  border-radius:10px 10px 0px 0px;
  -moz-border-radius:10px 0px 0px 0px;
  -webkit-border-radius:10px 10px 0px 0px;
  /* margin-top: 20px; */
}

button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  /* color: #854a38; */
  opacity: 0.5;
  
}

/* #preview {

} */

#preview h1{
  /* margin: 0px; */
  border-bottom: 3px solid rgb(169, 187, 187);
}

#preview h2 {
  /* margin: 0px; */
  border-bottom: 2px solid rgb(218, 226, 226);
}
 
.credentials {
  color: aliceblue;
  font-size: 0.9rem;
  margin-top: 400px;
}
 

@media only screen and (min-width: 1000px) {
  .toolbar {
    margin: 0px;
    
  }

  .toolbar-edit {
    margin-right: 30px;
  } 

  .app {
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* align-items: center; */
    justify-content: center;
  }

  #editor {
    min-height: 85vh;
    width: 40vw;
    margin-right: 30px;
    max-height: calc(85vh - 48px);
    min-height: calc(85vh - 37px);
    padding: 10px 20px 20px 20px;

    box-sizing: initial;
    -moz-box-sizing: initial;
    -webkit-box-sizing: initial; 
  }

  .preview-container {
    /* margin-top: 0px; */
    width: 40vw;
    max-height: calc(85vh - 48px);
    min-height: calc(85vh - 27px);

    padding: 0px 20px 20px 20px;
    
  }

  #preview {
    margin: 10px 0px 0px 0px;
  }
  

}